<div class="container">
  <div class="comment_form">
    <h3>コメント入力フォーム</h3>
    <% if current_user %>
      <%= form_with(model: @comment, local:true) do |form| %>
        <%= form.text_area :text, class:"comment_area", placehorder: "コメントする" %>
        <p><%= form.submit "送信する" %></p>
        
      <% end %>
    <% else %>
      <strong><p> コメントの投稿には新規登録/ログインが必要です </p></strong>
    <% end %>
  </div>
</div>